{% extends "header.html" %}
{% block content %}

<style>
	button {
		height: 60px;
		width: 150px;
		margin-top: 100px;
	}
	img {
		height: 200px;
		width: 200px;
	}
	#picture {
		text-align: center;
	}
	#observations {
		margin-bottom: 80px;
		margin-top: -70px;
	}
</style>
<div class='container-fluid'>
	<div class='row' id="picture">
		<img src="https://previews.123rf.com/images/glorcza/glorcza1406/glorcza140600005/28875560-crime-and-justice-icons-in-circle-Stock-Vector.jpg" />
	</div>

	<h1 class='text-center'>NSW Crime Data</h1>
	<h3 class='text-center'>1995 - 2012</h3>

	<div class="row text-center" id='pivot-table'>
		<a href="/pivot"><button class="btn btn-success">Create Pivot Table</button></a>
	</div>
	<div class="row text-center" id='observations'>
		<a href="/observations"><button class="btn btn-info">Observations</button></a>
	</div>
</div>
{% endblock %}