{% extends "header.html" %}
{% block content %}
	<style type="text/css">
		#top {
			margin-top: 50px;
		}
		.row {
			width: 100%;
			height: 200px;
		}
	</style>

	<h1 class='text-center'>OBSERVATIONS AND HYPOTHESIS</h1>
	<hr>
	<div class="container-fluid" id='top'>
		<div class="row text-center">
			<div class="col-md-6">
				<br><br>
				<h1><b><i>Exponential Increase in Traffic Violations</i></b></h1>
				<br>
				<p align="center">
				<h3>
				Our foremost observation was the exponential increase in the amount of traffic <br>
				violations from 1998 onwards. This can be attributed to the delay in<br>
				the establishment of <a href="https://en.wikipedia.org/wiki/Australian_Road_Rules"> Road Laws and
				Rules </a> in not only New South Wales<br> but across all of Australia. <br><br>

				From the <i>pink colored line</i> on the line chart at the right we can see <br>
				that there has been a sharp increase in 1998-1999 and a growth of almost 200% <br>
				has ensured every year. Despite this increase the amount of <br>
				<a href="https://en.wikipedia.org/wiki/List_of_motor_vehicle_deaths_in_Australia_by_year">deaths
					by road accidents </a> has reduced, which is a positive indicator <br>
				regarding the implementation of these laws.
				</h3>
				</p>
			</div>
			<div class="col-md-6">
				<img src='static\Transport_Graph.JPG' alt="NOT FOUND" style='width:800px;height:485px;'/>
			</div>
		</div>
		<hr>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div class="row text-center">
			<div class="col-md-6">
				<img src='static/Robberies.png' alt="NOT FOUND" style='width:800px;height:485px;'>
			</div>
			<div class="col-md-6">
				<br><br><br><br><br><br>
				<h1><b><i>Sudden Decrease in Robbery Offences</i></b></h1>
				<p align="center">
				<h3>
				From the graph on the left one can observe the sharp decline in the amount <br>
				of Robbery offences <i> (denoted by green line) </i>. This can be characterised by <br>
				the introduction of stringent punishments for all types of crimes under this category.<br><br>
				More information regarding the crimes, offences and punishments for Robbery <br> can be found
				<a href="https://www.armstronglegal.com.au/criminal-law/offences/robbery/">here</a>.
				</h3>
				</p>
			</div>
		</div>
		<hr>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div class="row text-center">
			<div class="col-md-6">
				<br><br><br><br>
				<h1><b><i>No Domino Effect from Crimes Anywhere else.</i></b></h1>
				<p align="center">
				<h3>
				We also observed that significant global events which changed the course of humanity <br>
				did not have an impact on the crimes in Australia. Some recent events like
				<a href="https://en.wikipedia.org/wiki/September_11_attacks"> 9/11</a> and the <br>
				<a href="https://en.wikipedia.org/wiki/Financial_crisis_of_2007%E2%80%932008"> 2007-2008 GFC </a>, which
				   impacted a lot of countries around the world did not impact <br>
				crimes in Australia as much. <br><br>A possible explanation for such a behaviour is that Australia
				is still reliant upon <br> traditional industries like agriculture, mining and not so much on IT.
				<br> Also Australia has an extremely low population compared to other countries with similar <br>
				performance metrics and hence has a generally lower crime rate.
				</h3>
				</p>
			</div>
			<div class="col-md-6">
				<img src="static/9-11.JPG" style='width:800px;height:285px;'> <br><br>
				<img src="static/GFC.JPG" style='width:800px;height:285px;'>
			</div>
		</div>
		<hr>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div class="row text-center">
			<div class="col-md-6">
				<h1>Info</h1>
			</div>
			<div class="col-md-6">
				<h1>Graph</h1>
			</div>
		</div>
		<hr>
		<div class="row text-center">
			<div class="col-md-6">
				<h1>Info</h1>
			</div>
			<div class="col-md-6">
				<h1>Graph</h1>
			</div>
		</div>
	</div>


{% endblock %}